body {
	font-family: 'Montserrat', sans-serif;
	background-attachment: fixed;
	background-size: 100%;
	padding: 0;
	margin: 0;
}

header {
	background: url("assets/bg.jpg");
	padding: 20px 0;
	
	
}

.imghead {
	position: relative;
	margin: 0%;
	display: flex;
	flex-direction: row;
	padding: 1% 1% 1% 1%;
	background-attachment:fixed;
	background-size: 100%;
	width: 24%;
}
.imgbody {
	/* margin: 0 0 0 0; */
	position: relative;
	background-attachment:fixed;
	background-size: 100%;
	padding: 0 0 0 55%;
	
}




.footer {
    
    display: flex;
    flex-direction: row;
	background-attachment:fixed;
	background-size: 100%;
	text-align: center;
	background: url("assets/bg.jpg");
	padding: 40px 0;
	width: 100%;
	position: absolute;
	margin: 0;
	border: 0;
	justify-content:center;
	
}

.promofooter {
	padding: 0 0 0 40%;
	display: inline-block;
    flex-direction: row;
	background-attachment: fixed;
	background-size: 100%;
	position: relative;
	margin: 0;
	
}

.textpromofooter{
    padding: 0 0 0 40%;
    margin-bottom: 4%;
	display: flex;
	flex-direction: column;
	color: red;
	line-height: 1.0;
	position: relative;
	
	

}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 0;
	text-align: center;
	position: relative;

}


form {
	margin: 40px 50px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
	
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
	
}

.checkbox {
	margin: 20px 0;
}

.cadastro {
	margin: 0 0 40px 0;
	width:40%;
	padding: 15px 0;
	background: black;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.cadastro:hover {
	background: grey;
	transform: scale(1.2);
}










